    <!-- HEADER -->
<header id="header">
      
        
       
    @if (Request.IsAuthenticated)
    {
    <!-- projects dropdown -->
        <div class="project-context hidden-xs">

            <span class="label">Proyecto:</span>
            <span class="project-selector dropdown-toggle" data-toggle="dropdown">Clínica Falco <i class="fa fa-angle-down"></i></span>

           

        </div>
    <!-- end projects dropdown -->
    }
    <section id="top-right">
        @if (@Model is HelperResult)
        {
            @Model
        }
        else
        {
            <div class="pull-right">
                @Html.Partial("_TopRight")
            </div>
        }
    </section>
</header>
<!-- END HEADER -->